.github {
    background: linear-gradient(#ffffff, #3586ff);
    min-height: 105vh;
    padding: 30px;
}

/* #loadReps {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    margin: 20px 0 0 0;
} */
button {
    margin: 20px 0 0 0;
    width: 140px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.762);
    font-size: 17px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  button:hover {
    transform: scale(1.01);
    
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.437);
  }

#headerGit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 45px;
}

#containerLogo {
    display: flex;
    align-items: center;
    width: 110px;
}

#contasGit {
    height: 50px;
    width: 240px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}   

#areaCards {
    padding: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: .8vw;
    justify-content: center;
}


#gitHeadEsquerda {
    display: flex;
    align-items: center;
    gap: 15px;
}

#contButtonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
}