.github {
    background: linear-gradient(#ffffff, #3586ff);
    height: 105vh;
    padding: 30px;
}

#headerGit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 45px;
}

#containerLogo {
    display: flex;
    align-items: center;
    width: 110px;
}

#contasGit {
    height: 50px;
    width: 170px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}   

#areaCards {
    padding: 40px 0px 0px 0px;
}


#gitHeadEsquerda {
    display: flex;
    align-items: center;
    gap: 15px;
}