.github {
    background: linear-gradient(#ffffff, #3586ff);
    min-height: 105vh;
    padding: 30px;
}

/* #loadReps {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    margin: 20px 0 0 0;
} */
#loadReps {
    margin: 20px 0 0 0;
    width: 140px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
    background-color: white;
    font-size: 17px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}
  

/* #loadReps:hover { */
    /* transform: scale(1.01); */
    /* border: 1px solid rgba(0, 0, 0, 0.333); */
    /* box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.437); */
/* } */

#headerGit {
    display: flex;
    align-items: center;
    font-size: 62px;
}

#containerLogo {
    display: flex;
    align-items: center;
    width: 80px;
    flex: 1;
}

#contasGit {
    height: 50px;
    width: 240px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    float: right;
}   

#paiContasGit {
    flex: 1;

}

#areaCards {
    padding: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: .8vw;
    justify-content: center;
}

#headerGit > h2 {
    flex: 1;
}

#gitHeadEsquerda {
    display: flex;
    align-items: center;
    gap: 15px;
}

#contButtonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
}