.block {
    background-color: #3586ff;
    height: 100px;
    width: 260px;
    gap:5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

.block:hover {
    cursor: pointer;
    background-color: #265eb1 !important;
}