.gitCard {
    width: 360px;
    height: 135px;
    perspective: 1000px;
    /* display: flex; */
}

.gitCardBack:hover, .gitCardFront:hover {
    box-shadow: 0px 0px 20px 1px #f0f0f0d4;
    border: 1px solid rgba(4, 11, 114, 0.333);
    border-radius: 15px;
}

/* .gitCard:hover .flipper{
    transform: rotateY(180deg);
} */

/* .cardGitFront:hover {
    transform: rotateY(180deg);
} */

.flipper {
    width: 360px;
    height: 135px;
    transform-style: preserve-3d;
    transition: all .8s;
    /* position: relative;
    backface-visibility: hidden; */
}

.gitCardBack, .gitCardFront {
    width: 360px;
    height: 135px;
    border-radius: 15px;
    transition: all ease .3s;
}

.gitCardBack > h1 {
    font-size: 16px;
}

.gitCardBack > p {
    font-size: 13px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    height: 60px;
    width: 336px;
    padding: 3px;
}

.gitCardBack p::-webkit-scrollbar{  
    background: rgb(159, 151, 151);
    width: 10px;
    border-radius: 10px;
}

.gitCardBack p::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(4, 11, 114);
    border-radius: 10px;
}

.gitCardBack {
    padding: 12px;
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: antiquewhite;
    backface-visibility: hidden;
    pointer-events: all;
    flex-direction: column;
    z-index: 10 !important;
}

.gitCardFront {
    display: grid;
    padding: 12px;
    grid-template-areas: 
            "title . logo"
            "link . ."
            "rotate . data";
    grid-template-rows: 40px 37px 30px;
    grid-template-columns: 225px 10px 100px;
    background-color:rgba(255, 255, 255, 0.753);
    border: 1px solid rgba(255, 255, 255, 0.222);
    color: rgb(4, 11, 114);
    /* backdrop-filter: blur(30px); */
    position: absolute;
    backface-visibility: hidden;
}
 
/* .gitCardBack:hover, .gitCardFront:hover {
    box-shadow: 0px 0px 20px 1px #f0f0f0d4;
    border: 1px solid rgba(4, 11, 114, 0.333);
    cursor: pointer;
} */
.rotateIcon {
    grid-area: rotate;
    display: flex;
    align-items: end;
    height: 15px;
    width: 15px;
}

.rotateIcon:hover {
    cursor: pointer;
}

.arrowDownLeft {
    width: 10px;
}

#tituloRep {
    grid-area: title;
    display: flex;
    align-items: start;
    padding-top: 5px;
}

#linkRep {
    height: 30px;
    width: 120.4px;
    grid-area: link;
    display: flex;
    align-items: end;
    color: rgb(34, 33, 33);
}

#linkRep:hover {
    color: blue;
}

#dataPubli {
    grid-area: data;
    display: flex;
    align-items: end;
    justify-content: end;
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: end;
}

