header {
    font-size: 20px;
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #3586ff;
    color: white;
    box-sizing: border-box;
}