.profileSkill {
    height: 150px;
    width: 600px;
    display: flex;
}

.logoSkill {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logoSkill h2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSkillImg {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSkillImg > * {
    height: 90px;
}

.logoSkill p {
    height: 20%;
    text-align: center;
}

.barraProgresso {
    height: 25px;
    width: 85%;
    border-radius: 25px;
    color: blue;
    border: 2px solid rgb(61, 61, 61);
    /* outline: none;
    -webkit-appearance: none;
    overflow: hidden; */
}

.valueProgresso {
    background-color: rgb(110, 216, 44);
    height: 100%;
    border-radius: 25px;
}

.progressSkill {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}