.profileSkill {
    height: 150px;
    width: 600px;
    background-color: bisque;
    display: flex;
}

.logoSkill {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.progressSkill {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}