#principalSkills {
    min-height: 100vh;
    background: linear-gradient(#3586ff, rgb(255, 255, 255));
}

#titleSkills {
    font-size: 100px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSkills {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: start;
}

#skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painelSkills {
    background-color: rgba(0, 0, 0, 0.778);
    height: 400px;
    width: 700px;
}
