#principalSkills {
    min-height: 100vh;
    background: linear-gradient(#3586ff, rgb(255, 255, 255));
}

#titleSkills {
    font-size: 100px;
    padding-left: 40px;
    min-height: 20vh;
}

#mainSkills {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

#skills {
    flex: 2;
    display: flex;
}

.painelSkills {
    background-color: rgba(0, 0, 0, 0.498);
    height: 400px;
    width: 700px;
    margin-left: 40px;
    border-radius: 20px;
}

#certificados {
    flex: 1;
    display: flex;
    justify-content: center;
}

.muralCertificados {
    padding: 10px;
    background-color: #212121d5;
    height: 200px;
    width: 600px;
}
